<launch>

    <!-- Navigation -->
    <node pkg="nav_mec" type="navMec_node" name="navMec_node">

        <!-- DEBUG_MODE for navigation -->
        <param name="debugmode" type="bool" value="false"/>

        <!-- Toggle the offset usage -->
        <!-- Offset = a * distance + b -->
        <param name="usingoffset" type="bool" value="false"/>   
        <param name="offset_x_a" type="double" value="0.0"/> 
        <param name="offset_x_b" type="double" value="0."/>
        <param name="offset_y_a" type="double" value="0.0"/>
        <param name="offset_y_b" type="double" value="0.0"/>
        <param name="offset_z_a" type="double" value="0.018"/>
        <param name="offset_z_b" type="double" value="0."/>

        <!-- Toggle basic car accel and slow down constant -->
        <param name="carConst" type="bool" value="true"/>

        <!-- P gain constant for P controller -->
        <param name="pgain" type="double" value="1.3"/>

        <!-- Car linear and angular max speed -->
        <param name="carSpeedMax" type="double" value="0.7"/>
        <param name="carOmegaMax" type="double" value="1.5"/>

        <!-- Car linear and angular acceleration -->
        <param name="carAccel" type="double" value="0.5"/>
        <param name="carAlpha" type="double" value="0.7"/>

        <!-- Car linear and angular tolerated error -->
        <param name="carErrorLinear" type="double" value="0.02"/>
        <param name="carErrorAngular" type="double" value="0.006"/>

        <!-- Constant for ACCEL to SLOWDOWN linear -->
        <param name="bpLinear" type="double" value="4.0"/>

        <!-- Constant for ACCEL to SLOWDOWN angular -->
        <param name="bpAngular" type="double" value="5.0"/>

        <!-- Constant for SLOWDOWN to PCONTROL -->
        <param name="pcontrolconst" type="double" value="0.01"/>

        <!-- Mode settings -->
        <param name="carAccel_basicMode" type="double" value="0.55"/>
        <param name="carAccel_turboMode" type="double" value="3.0"/>
        <param name="carSpeedMax_basicMode" type="double" value="0.8"/>
        <param name="carSpeedMax_turboMode" type="double" value="2.5"/>

        <param name="calibMode_linear_y" type="double" value="0.085"/>
        <param name="calibMode_timeout" type="double" value="2.1"/>
    </node>

    <!-- Location -->
    <node name="Localization_node" pkg="localization" type="Localization_node">
        <param name="DebugMode" type="bool" value="true"/>
        <param name="Frequency" type="int"  value="100"/>

        <param name="IgnoreFirstNData_Encoder"    type="int" value="1"/>
        <param name="IgnoreFirstNData_IMU"        type="int" value="1"/>
        <param name="IgnoreFirstNData_FlowSensor" type="int" value="1"/>

    </node>

    <!-- Camera service -->
    <node pkg="block_detector" type="block_detector_node" name="block_detector_node" output="screen">
        <param name="debugMode" value="false"/>
        
        <param name="tf_file_name" value="$(find block_detector)/transform/coordinate_tf.csv"/>

        <param name="camera_index" value="0"/>
        <param name="min_area_size" value="550"/>
        <param name="contour_epsilon_mul" value="0.02"/>
        <param name="captured_times" value="70"/>

        <param name="dark_h_min" value="98"/>
        <param name="dark_s_min" value="62"/>
        <param name="dark_v_min" value="105"/>
        <param name="dark_h_max" value="132"/>
        <param name="dark_s_max" value="255"/>
        <param name="dark_v_max" value="255"/>
        <param name="light_h_min" value="78"/>
        <param name="light_s_min" value="64"/>
        <param name="light_v_min" value="120"/>
        <param name="light_h_max" value="96"/>
        <param name="light_s_max" value="198"/>
        <param name="light_v_max" value="255"/>

        <param name="threshold_canny_1" value="15"/>
        <param name="threshold_canny_2" value="10"/>

        <param name="threshold_min" value="50"/>
        <param name="threshold_max" value="255"/>
    </node>

    <!-- Arm service -->
    <!-- <node pkg="robot_arm_control" type="GetObject_server" name="GetObject_server"/> -->

    <!-- Calibration node -->
     <node name="DistanceToWall" pkg="distance_to_wall" type="DistanceToWall">
        <param name="DebugMode" type="bool" value="false"/>

        <!-- Output = a * Input + b -->
        <param name="Left_a"  type="double"  value="0.0963"/>
        <param name="Left_b"  type="double"  value="-4.68"/>
        <param name="Right_a" type="double"  value="0.106"/>
        <param name="Right_b" type="double"  value="-3.05"/>

        <!-- Finish = fabs(VL53_Distance - Target_Distance) < TargetDistanceError -->
        <param name="TargetDistanceError" type="double"  value="1.0"/>

        <!-- Car Velocity -->
        <param name="CarVelocity" type="double" value="0.1"/>

        <!-- For Omega Calibration. Not used yet. -->
        <param name="Left_Standard"    type="double" value="100.0"/>
        <param name="Right_Standard"   type="double" value="100.0"/>
        <param name="CalibrationRange" type="double" value="10.0"/>

        <!-- VL53 Data Timeout.  -->
        <!-- Be careful, it's should not less than CheckFrequency[10 hz] of the while loop in StartDocking(). -->
        <param name="VL53_Data_TimeOut" type="double" value="2.0"/>
    </node>

</launch>